<!-- body -->
<div class="container">
    <div id="home-page">
        <div class="home_page">
            <div id="banner_section">
                <div class="full-home_banner-wrapper">
                    <div class="container">
                        <div class="full-home-banner">
                            <div class="start-show_banner">
                                <div class="banner-left">
                                    <ul class="show-slide"></ul>

                                    <div class="section-dots"></div>

                                    <div class="btn_more-icon">
                                        <div class="icon-more_left">
                                            <i class="bx bx-chevron-left"></i>
                                        </div>
                                        <div class="icon-more_right">
                                            <i class="bx bx-chevron-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-right">
                                <a href=""><div class="avarta-banner_right">
                                        <img
                                            src="https://cf.shopee.vn/file/vn-50009109-4c2f9a25c832dc6dc985e0278cbd56ce_xhdpi"
                                            alt="Picture"
                                        /></div></a>
                                <a href=""><div class="avarta-banner_right">
                                        <img
                                            src="https://cf.shopee.vn/file/vn-50009109-55fa3d8d739d344bee1d82f15676d6c5_xhdpi"
                                            alt="Picture"
                                        /></div></a>
                            </div>
                        </div>
                        <div id="banner_bottom"></div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="flash_sale">
                    <div class="flash_sale-img-top-floor">
                        <div
                            class="flash_sale-img-top-wrap"
                            style="height: 60px; position: relative"
                        >
                            <div class="flash_sale-img-top">
                                <img
                                    src="img/shopeelive/vn-50009109-dc6f7fcd635e7f346a7c1d77660ef6b4.jpg"
                                    alt="Picture"
                                    class="flash_sale-img-top-fix"
                                />
                            </div>
                            <div class="flash_sale-time-top">
                                <div class="flash_sale-time-top_child">Còn 2
                                    ngày</div>
                            </div>
                        </div>
                    </div>
                    <div class="sale_live-product-wrap"></div>
                </div>
            </div>
            <div class="container">
                <div class="section_below_the_fold">
                    <div class="directory_margin-top">
                        <div class="directory_wrap">
                            <div class="directory_header">
                                <div class="directory_header-text">danh mục</div>
                            </div>
                            <div class="directory_item-content">
                                <div class="directory_item-list-wrap">
                                    <ul class="directory_item-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- flash sale -->
                    <div class="section_flashsell">
                        <div class="flashsell_padding">
                            <div class="flashsell_header">
                                <div class="flashsell_header-title">
                                    <div class="flashsell_image">
                                        <div class="flashsell_image_fix"></div>

                                        <!-- set count down -->
                                        <div class="count-down-time">
                                            <div
                                                class="count-down-time__number"
                                            >
                                                <div
                                                    class="count-down-time__number-item"
                                                >0</div>
                                                <div
                                                    class="count-down-time__number-item"
                                                    style="margin-left: 3px"
                                                >
                                                    0
                                                </div>
                                            </div>

                                            <div class="count-down-time__colon">
                                                <div
                                                    class="colon-dot_wrapper"
                                                ></div>
                                                <p class="colon-dot"></p>
                                                <div
                                                    class="colon-dot_wrapper"
                                                ></div>
                                                <p class="colon-dot"></p>
                                            </div>

                                            <div
                                                class="count-down-time__number"
                                            >
                                                <div
                                                    class="count-down-time__number-item"
                                                >0</div>
                                                <div
                                                    class="count-down-time__number-item"
                                                    style="margin-left: 3px"
                                                >
                                                    0
                                                </div>
                                            </div>

                                            <div class="count-down-time__colon">
                                                <div
                                                    class="colon-dot_wrapper"
                                                ></div>
                                                <p class="colon-dot"></p>
                                                <div
                                                    class="colon-dot_wrapper"
                                                ></div>
                                                <p class="colon-dot"></p>
                                            </div>

                                            <div
                                                class="count-down-time__number"
                                            >
                                                <div
                                                    class="count-down-time__number-item"
                                                >0</div>
                                                <div
                                                    class="count-down-time__number-item"
                                                    style="margin-left: 3px"
                                                >
                                                    0
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flashsell_link-wrap">
                                    <a href="#" class="flashsell_link">xem tất
                                        cả >
                                    </a>
                                </div>
                            </div>
                            <div class="flashsell_content">
                                <ul
                                    class="flashsell_list"
                                    style="width: 266.667%; transform: translate(0px, 0px)"
                                ></ul>
                            </div>
                        </div>
                    </div>

                    <!-- section deal -->

                    <div class="section_deal">
                        <div class="section_deal_wrap"></div>
                    </div>

                    <!-- Home page mall section -->

                    <div id="hmall">
                        <div class="hmall-wrap">
                            <div class="hmall_header">
                                <div class="hmall_header-title">
                                    <div id="shopee_mall">
                                        <a
                                            href="#"
                                            class="shopee_mall-link"
                                        >shopee mall</a>
                                        <div class="hmall_incentives">
                                            <div
                                                class="hmall_incentives_imge-wrap"
                                            >
                                                <img
                                                    class="hmall_incentives_imge"
                                                    src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/6c502a2641457578b0d5f5153b53dd5d.png"
                                                    alt="picture"
                                                />
                                                7 ngày miễn phí trả hàng
                                            </div>
                                            <div
                                                class="hmall_incentives_imge-wrap"
                                            >
                                                <img
                                                    class="hmall_incentives_imge"
                                                    src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/511aca04cc3ba9234ab0e4fcf20768a2.png"
                                                    alt="picture"
                                                />
                                                hàng chính hãng 100%
                                            </div>
                                            <div
                                                class="hmall_incentives_imge-wrap"
                                            >
                                                <img
                                                    class="hmall_incentives_imge"
                                                    src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/16ead7e0a68c3cff9f32910e4be08122.png"
                                                    alt="picture"
                                                />
                                                miễn phí vận chuyển
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hmall_header_more-wrap">
                                    <div class="hmall_header_more">
                                        <a
                                            href="#"
                                            class="hmall_header_more-link"
                                        >
                                            <div
                                                class="hmall_header_more_title-wrap"
                                            >
                                                <div
                                                    class="hmall_header_more_title"
                                                >
                                                    xem thêm
                                                </div>
                                                <div class="image_header_more">
                                                    <svg
                                                        enable-background="new 0 0 11 11"
                                                        viewBox="0 0 11 11"
                                                        x="0"
                                                        y="0"
                                                        class="icon-arrow-right"
                                                    >
                                                        <path
                                                            d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z"
                                                        ></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="hmall_content">
                                <div class="slider_left_wrap">
                                    <div style="width: 100%; height: 100%">
                                        <div class="section-banner">
                                            <div
                                                class="home_page_list-item--wrap"
                                            >
                                                <ul
                                                    class="home_page_list-item"
                                                ></ul>
                                            </div>
                                        </div>

                                        <div class="section-dots"></div>

                                        <div class="btn_more-icon">
                                            <div class="icon-more_left">
                                                <i
                                                    class="bx bx-chevron-left"
                                                ></i>
                                            </div>
                                            <div class="icon-more_right">
                                                <i
                                                    class="bx bx-chevron-right"
                                                ></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hmall_carousel_wrap">
                                    <div class="hmall_carousel">
                                        <div class="list_brand_wrap">
                                            <ul class="list_brand"></ul>
                                        </div>
                                        <div class="btn_more-icon">
                                            <div
                                                class="icon-more_left invisible"
                                            >
                                                <i
                                                    class="bx bx-chevron-left"
                                                ></i>
                                            </div>
                                            <div class="icon-more_right">
                                                <i
                                                    class="bx bx-chevron-right"
                                                ></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Top search-->
                        <div id="top_searches">
                            <div class="ts_header_wrap">
                                <div class="ts_header">
                                    <div class="font_text">tìm kiếm hàng đầu</div>
                                    <a
                                        href="#"
                                        style="text-decoration: none"
                                    ><div class="font_text">xem tất cả</div></a>
                                </div>
                            </div>
                            <div class="ts_content_wrap">
                                <div class="ts_content swiper">
                                    <div
                                        class="ts_content_list swiper-wrapper"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-list-header_wrapper">
            <div class="products-list-header">
                <h2>Popular Products</h2>
            </div>
        </div>
        <div class="stardust_tabs_panels-wrapper">
            <div class="stardust_tabs_panels">
                <section class="stardust_tabs_panels-child">
                    <div id="stardust_tabs_list_product">
                        {{#each product}}
                            <div
                                class="stardust_tabs_product"
                                id="{{this._id}}"
                            >
                                <div class="stardust_product_wrap">
                                    <div class="stardust_product">
                                        <a
                                            href="/products/details/{{this._id}}"
                                        >
                                            <div class="pdt_img">
                                                <img
                                                    src="{{this.image}}"
                                                    alt="picture"
                                                />

                                                <div
                                                    class="discount_percentage_wrapper"
                                                >
                                                    <div
                                                        class="discount_percentage_logo"
                                                    >
                                                        <span
                                                            class="percent"
                                                        >{{this.percent}}%</span>
                                                        <span
                                                            class="decrease"
                                                        >giảm</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="stardust_product_content"
                                            >
                                                <div
                                                    class="stardust_product_title"
                                                >
                                                    <div
                                                        class="stardust_product_title"
                                                    >
                                                        <div
                                                            class="stardust_product_title_child"
                                                        >
                                                            {{this.title}}
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="stardust_product_price"
                                                    >
                                                        <div
                                                            class="discout_card_wrapper"
                                                        >
                                                            <div
                                                                class="discout_card"
                                                            >
                                                                Giảm ₫{{formatDiscout
                                                                    this.discout
                                                                }}k
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="time_discount"
                                                        >
                                                            {{this.timeDiscout}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="shopee_stardust_sale_wrapper"
                                                >
                                                    <div
                                                        class="shopee_stardust_price"
                                                    >
                                                        ₫
                                                        {{format this.price}}
                                                    </div>
                                                    <div
                                                        class="shopee_stardust_sold"
                                                    >
                                                        Đã bán
                                                        {{formatSoldProduct
                                                            this.soldProduct
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <buttom
                                            id="{{this._id}}"
                                            class="add-to-cart-btn"
                                        >
                                            Thêm vào giỏ hàng
                                        </buttom>
                                    </div>
                                </div>
                            </div>

                        {{/each}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/js/UI/RenderBannerShow.js"></script>
<script type="module" src="/js/UI/RenderSuggestSearch.js"></script>
<script type="module" src="/js/UI/RenderBannerBottom.js"></script>
<script type="module" src="/js/UI/RenderShopeeLive.js"></script>
<script type="module" src="/js/UI/RenderDirectory.js"></script>
<script type="module" src="/js/UI/RenderFlashSale.js"></script>
<script type="module" src="/js/UI/RenderShopeeMall.js"></script>
<script type="module" src="/js/UI/RenderTopSearch.js"></script>
<script type="module" src="/js/cart/AddToCart.js"></script>